<div id="<%= dom_id reserve %>">
  <p>
    <strong>Name:</strong>
    <%= reserve.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= reserve.start_date %>
  </p>

  <p>
    <strong>Termination date:</strong>
    <%= reserve.termination_date %>
  </p>

</div>
