<body class="layout-2">
 <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="index.html" class="navbar-brand sidebar-gone-hide">
          <%= image_tag("logo.png", alt:"logo", width:"50", class:"rounded-circle") %>
        </a>
        <div class="navbar-nav">
          <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
        </div>
        <div class="nav-collapse">
          <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
            <i class="fas fa-ellipsis-v"></i>
          </a>          
        </div>
        <form class="form-inline ml-auto">
          
        </form>
        <ul class="navbar-nav navbar-right">

          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <div class="d-sm-none d-lg-inline-block">Seja Bem-Vindo</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="features-profile.html" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Criar Conta
              </a>
              <a href="features-activities.html" class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> Entrar
              </a>
            </div>
          </li>
        </ul>
      </nav>

     

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          

          <div class="section-body">
            <h2 class="section-title">Seja bem-Vindo a Sala de Reuniões</h2>
            <div class="card">
              <div class="card-header">
                <h4>Sala de Reunião</h4>
              </div>
              <div class="card-body">
                <p>Esta é uma aplicação teste para simular um ambiente de reservas de salas de reunião! Seja muito bem-vindo. 
                <br>No canto superior
                direito se encontra os links para se cadastrar e/ou logar, fique a vontade</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2022 <div class="bullet"></div> Desenhado Por <a href="https://github.com/fabioNog/scheduleroom" target="_blank">Fabio Nogueira do Carmo</a>
        </div>      
      </footer>
    </div>
  </div>
  </body>